 @import url("https://use.typekit.net/pqy8sxp.css");

* {
	box-sizing: border-box;
}

body {
	background-color: #a320b9;
	color: #a320b9;
	display: flex;
	font-family: "mudstone-sans", sans-serif;
  font-style: normal;
  font-weight: 900;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 10 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 100;
}

.container {
	background-color: #ffff00;
	box-shadow: 10px 2px 10px rgba(25, 25, 25, 02);
	padding: 20px;
	width: 500px;
	max-width: 100%;
}

.result-container {
	background-color: rgba(50, 50, 50, 40);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 25px;
	letter-spacing: 3px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.result-container #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container .btn {
	font-size: 15px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.btn {
	border-style: dotted;
  border-color: #a320b9;
	color: #a320b9;
	cursor: cell;
	font-family: "mudstone-sans", sans-serif;
	font-stretch: extra-expanded;
	font-weight: 400;
font-style: normal;
	font-size: 20px;
	padding: 10px 12px;
	background-color: #FFFF00;
}

.btn-large {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}

